<h2 class="text-center mb-4">Filtrar Contatos</h2>

<div class="m-5 overflow-auto">
  <form [formGroup]="filtroForm" (ngSubmit)="buscarContatos()" class="mb-4">
    <div class="row g-3">
      <div class="col-md-6 col-lg-4 col-xl-3">
        <input formControlName="name" type="text" class="form-control" placeholder="Nome" />
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <input formControlName="telephone" type="text" class="form-control" placeholder="Telefone" />
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <input formControlName="email" type="text" class="form-control" placeholder="Email" />
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <input formControlName="age" type="text" class="form-control" placeholder="Idade" />
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <input formControlName="maritalStatus" type="text" class="form-control" placeholder="Estado civil" />
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <input formControlName="rg" type="text" class="form-control" placeholder="RG" />
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <input formControlName="cpf" type="text" class="form-control" placeholder="CPF" />
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <input formControlName="profession" type="text" class="form-control" placeholder="Profissão" />
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <input formControlName="address" type="text" class="form-control" placeholder="Endereço" />
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <input formControlName="dateOfBirth" type="text" class="form-control" placeholder="Data de nascimento" />
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <select formControlName="category" class="form-select">
          <option value="">Todas as categorias</option>
          <option value="família">Família</option>
          <option value="trabalho">Trabalho</option>
          <option value="escola">Escola</option>
          <option value="escola">Vizinhos</option>
          <option value="escola">Amigos</option>
        </select>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 d-flex align-items-center">
        <div class="form-check">
          <input formControlName="favorite" type="checkbox" class="form-check-input" id="filtroFavorito" />
          <label for="filtroFavorito" class="form-check-label ms-1">Só favoritos</label>
        </div>
      </div>
      <div class="col-12 text-end">
        <button class="btn btn-secondary me-3" (click)="resetForm()">
          <i class="bi bi-search"></i> Limpar
        </button>
        <button class="btn btn-primary" type="submit">
          <i class="bi bi-search"></i> Buscar
        </button>
      </div>
    </div>
  </form>

  <div class="table-responsive overflow-auto">
    <table class="table table-striped align-start">
      <thead class="table-dark">
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Email</th>
          <th>Idade</th>
          <th>Estado civil</th>
          <th>RG</th>
          <th>CPF</th>
          <th>Profissao</th>
          <th>Endereço</th>
          <th>Data de nascimento</th>
          <th>Categoria</th>
          <th>Favorito</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contato of contatos">
          <td>{{ contato.name }}</td>
          <td>{{ contato.telephone }}</td>
          <td>{{ contato.email }}</td>
          <td>{{ contato.age }}</td>
          <td>{{ contato.maritalStatus }}</td>
          <td>{{ contato.rg }}</td>
          <td>{{ contato.cpf }}</td>
          <td>{{ contato.profession }}</td>
          <td>{{ contato.address }}</td>
          <td>{{ contato.dateOfBirth}}</td>
          <td>{{ contato.category }}</td>
          <td>{{ contato.favorite ? "★" : "☆" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
